{% extends template_base %}
{% block nomePagina %}Deletar Agendamentos{% endblock %}
{% block conteudo %}

            <main id="main-container">

                    
                    <h2 class="content-heading"></h2>
                        <div class="col-lg-12">
                            
                            <div class="block block-themed">
                                <div class="block-header" style="background-color: #FFAF00">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">Deseja deletar todos agendamentos?</h3>
                                </div>
                                <div class="block-content">
                                    <form class="form-horizontal push-5-t" action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <button class="btn btn-sm bg-dark" type="submit"><i class="fa fa-plus push-5-r"></i> Excluir</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

            </main>

{% endblock %}