{% extends 'base_menus_admin.html' %}
{% block nomePagina %}Editar Tipo de Pedido{% endblock%}
{% block conteudo %}

            <main id="main-container">
                    <!-- Register Forms -->
                    <h2 class="content-heading"></h2>
                        <div class="col-lg-12">
                            <!-- Bootstrap Register -->
                            <div class="block block-themed">
                                <div class="block-header" style="background-color: #FFAF00">
                                    <h3 class="block-title">Tipo de Pedido</h3>
                                </div>
                                <div class="block-content">
                                    <form class="form-horizontal push-5-t" action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group col-xs-12">
                                            <label for="id_name">Nome do pedido:</label>
                                            <input value="{{tipo.name}}" class="form-control" type="text" id="id_name" name="name" placeholder="Digite um nome (obrigatório)"  maxlength="100" required>
                                        </div>
                                        {% comment %}
                                        <div class="form-group col-xs-12">
                                            <label for="id_image">Escolha a Imagem:</label>
                                            <input value="{{tipo.image}}" type="file" name="image" id="id_image" required>
                                        </div>{% endcomment %}
                                        <div class="form-group col-xs-12">
                                            <label for="caravaneiro">Pedido de caravaneiro?</label>
                                            <select class="form-control" id="caravaneiro" name="caravaneiro" size="1">
                                                    {% if tipo.caravaneiro %}
                                                    <option value="1">Sim</option>
                                                    <option value="0">Não</option>

                                                    {% else %}
                                                    <option value="0">Não</option>
                                                    <option value="1">Sim</option>

                                                    {% endif %}
                                                </select>
                                        </div>
                                        <div class="col-xs-12">
                                                <button class="btn btn-sm bg-dark" type="submit"><i class="fa fa-plus push-5-r"></i> Enviar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END Bootstrap Register -->
                        </div>
                    </div>
                    <!-- END Register Forms -->
                </div>
                <!-- END Page Content -->
            </main>
{% endblock %}