{% extends 'base_menus_empresa.html' %}
{% block nomePagina %}Página de pedido{% endblock%}
{% block conteudo %}

            <main id="main-container">

                    <!-- Register Forms -->
                    <h2 class="content-heading"></h2>
                        <div class="col-lg-12">
                            <!-- Bootstrap Register -->
                            <div class="block block-themed">
                                <div class="block-header bg-success">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">Página de pedido</h3>
                                </div>
                                <div class="block-content">
                                    <form class="form-horizontal push-5-t" action="" method="post">
                                        {% csrf_token %}
                                        <div class="col-xs-6">
                                            <label for="register4-lastname">O organizador responsável é: {{organizador_nome}} {{organizador_sobrenome}}, caso necessite, entre em contato apartir do número: {{organizador_tefelone}}</label>
                                        </div>    
                                        <div class="col-xs-6">
                                                <label for="register4-lastname">O que necessita?</label>
                                                <select class="form-control" id="palestra" name="palestra" size="1">
                                                    <option value="0">Água</option>
                                                    <option value="1">Coletor</option>
                                                    <option value="1">Organizador</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                    <label for="register4-lastname">Possui alguma observação?</label>
                                                    <input class="form-control" type="text" id="sobrenome" name="sobrenome" placeholder="Digite sua observação (opcional)">
                                                </div>
                                            <div class="form-group">
                                            
                                            <div class="col-xs-12">
                                                <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-plus push-5-r"></i> Registrar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END Bootstrap Register -->
                        </div>
                    </div>
                    <!-- END Register Forms -->
                </div>
                <!-- END Page Content -->
            </main>

{% endblock %}