{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block body %}

<div class="row">
    <div class="col-md-12 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 style="text-align: center; color:black">No período entre {{inicio_periodo}} até {{fim_periodo}}:</h3>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Valor total entregue por Estado</h3>
                <div id="entregas_chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Valor total por dia de registro</h3>
                <div id="dia_chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Valor total entregue por Transportadora</h3>
                <div id="transportadora_chart"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      
      var dias_semana = [];
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        var estado_list = {{estado_list|safe}}
        console.log(estado_list)
        // Create the data table.

        var cores = ['yellow', 'green', 'blue', 'black', 'gold', 'gray', 'purple', 'red', 'orange', '#37AB65', '#3DF735', '#AD6D70', '#EC2504', '#8C0B90', '#C0E4FF', '#27B502', '#7C60A8', '#CF95D7', '#F6CC1D']
        var estado_pedidos = google.visualization.arrayToDataTable([
          ['Estado', 'Valor total em R$', {role: 'style'}],
          {% for element in estado_list %}
            ['{{element.estado}}', {{element.total_valor}}, cores[Math.floor(Math.random() * cores.length) + 1]],
          {% endfor %}
          
        ]);
        var options_entregas = {
          title: '',
          width: 1000,
          height: 400,
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart1 = new google.visualization.BarChart(document.getElementById('entregas_chart'));
        chart1.draw(estado_pedidos, options_entregas);



        
        var dia_pedidos = google.visualization.arrayToDataTable([
          ['Dia', 'Valor total em R$', {role: 'style'}],
          {% for element in datas_e_valores %}
            ['{{element.data}}', {{element.valor}}, cores[Math.floor(Math.random() * cores.length) + 1]],
          {% endfor %}
          
        ]);

        var chart2 = new google.visualization.BarChart(document.getElementById('dia_chart'));
        chart2.draw(dia_pedidos, options_entregas);



        var transportadora_pedidos = google.visualization.arrayToDataTable([
          ['Dia', 'Valor total em R$', {role: 'style'}],
          {% for element in transportadora_list2 %}
            ['{{element.transportadora.nome}}', {{element.total}}, cores[Math.floor(Math.random() * cores.length) + 1]],
          {% endfor %}
          
        ]);

        var chart3 = new google.visualization.BarChart(document.getElementById('transportadora_chart'));
        chart3.draw(transportadora_pedidos, options_entregas);
        
    }
</script>
{% endblock %}