{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  h4{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
  }
  #steps-uid-0-t-1, #steps-uid-0-t-0, #steps-uid-0-t-3{
    font-size: 1rem;
  }

  #order-listing_filter, #export-all {
    display: inline-block;
  }

  #order-listing_filter{
    padding-left: 36.2vw;
  }
 


</style>
<div class="col-12 grid-margin">
        <div class="card">
          <ul class="pagination" style="padding-top: 20px; padding-left: 10px;">
            <li class="page-item"><a class="page-link" href="/funcionarios/"><i class="mdi mdi-chevron-left"> Voltar </i></a></li>
          </ul>
          <h4 class="card-title" style="text-align: center; margin-top: -40px;">{{funcionario.nome}}</h4>
           <div class="card-body" style="padding: 0px;">
              <div role="application" class="wizard clearfix" id="steps-uid-0">
                    <div class="content clearfix" style="height: 500px;">
                       <section id="steps-uid-0-p-3" role="tabpanel" aria-labelledby="steps-uid-0-h-3" class="body current" aria-hidden="false" style="left: 0px; width: 100%; height: 100%">

                       <!-- Linha de cima com informações gerais-->

                                              <div class="row">
                                                <div class="col-md-12 grid-margin stretch-card">
                                                  <div class="card card-statistics">
                                                    <div class="card-body">

                                                      <!-- Nome da transportadora --> 
                                                      <h4 class="title" >Dados do Funcionário</h4>
                                                      <!-- Início da tabela -->
                                                      <br/>
                                                      <table class="table table-striped">
                                                        <tbody>
                                                          <tr>
                                                            <td style="font-weight: bold;"> E-mail </td>
                                                            <td> {{funcionario.email}} </td>
                                                          </tr>
                                                          <tr>
                                                            <td style="font-weight: bold;"> Senha </td>
                                                            <td> {{funcionario.senha}} </td>
                                                          </tr>
                                                          <tr>
                                                            <td style="font-weight: bold;"> Telefone </td>
                                                            <td> {{funcionario.telefone}} </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      <form action="{% url 'funcionario_editar' funcionario.id %}">
                                                        <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Alterar dados do funcionário</button>
                                                      </form>
                                                    </div>
                                                  </div>
                                                </div>
                                                </div>
                                              </div>

                      </section>
                    </div>
                 </div>

           </div>
        </div>
     </div>
{% endblock %}
