<!DOCTYPE html>

 <html class="no-focus">
    <head>
        <meta charset="utf-8">

        <title>{%block nomePagina%} {%endblock%} - Sistema WI</title>

        <meta name="description" content="{%block descricao%} {%endblock%}">
        <meta name="author" content="Poli Júnior">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">


        <link rel="shortcut icon" href="/static/img/favicons/favicon.png">

        {% comment %} <link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/static/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon-180x180.png"> {% endcomment %}

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        
        <link rel="stylesheet" href="/static/js/plugins/slick/slick.min.css">
        <link rel="stylesheet" href="/static/js/plugins/slick/slick-theme.min.css">

        
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="/static/css/oneui.css">
        <link rel="stylesheet" href="/static/css/adicional.css">
        <script src="/static/js/core/moment.js"></script>
        <link rel="stylesheet" href="/static/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
        <link rel="stylesheet" href="/static/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
        <link rel="stylesheet" href="/static/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">


    </head>
    <body>
        <!--

    █▀▀█  █▀▀▀█  █    ▀█▀ 
    █▄▄█  █   █  █     █ 
    █     █▄▄▄█  █▄▄█ ▄█▄ 

    █  █  █  █▄  █ ▀█▀  █▀▀▀█  █▀▀█ 
 ▄  █  █  █  █ █ █  █   █   █  █▄▄▀ 
 █▄▄█  ▀▄▄▀  █  ▀█ ▄█▄  █▄▄▄█  █  █ 

Feito com carinho por:
Barbara Beltrami
Gabriel Dos Anjos
Eduardo Motta
Ilton Andrew
Pedro Kassardjian
Rafael Araripe
        -->
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <aside id="side-overlay">
                <div id="side-overlay-scroll">

                    <div class="side-content remove-padding-t">

                        <div class="block pull-r-l border-t">

                            <div class="block-content tab-content">
                                <div class="tab-pane fade fade-right in active" id="tabs-side-overlay-overview">

                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <nav id="sidebar">

                <div id="sidebar-scroll">

                    <div class="sidebar-content">
 
                        <div class="side-header side-content bg-white-op">
                            
                            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>

                            
                            <a class="h5 text-white" href="/usuarios/admin">
                                <img src="/static/img/favicons/favicon.png" class="fa fa-circle-o-notch text-primary" style="margin-left: -13%"></i> <span class="h4 font-w600 sidebar-mini-hide"> {{variaveis.ano_wi}}</span>
                            </a>
                        </div>

                        <div class="side-content">
                            <ul class="nav-main">
                                <li>
                                    <a class="active" href="/usuarios/admin"><i class="si si-map"></i><span class="sidebar-mini-hide">Informes</span></a>
                                </li>
                                <li>
                                    <a class="active" href="/usuarios/calendario"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Calendário</span></a>
                                </li>
                                
                                
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Documentos</span></li>
                                <li>
                                    <a href="/documentos/ver-documentos"><i class="si si-docs"></i>Enviados</a>
                                </li>
                                <li>
                                    <a href="/documentos/ver-nota-admin"><i class="si si-notebook"></i>Notas Fiscais</a>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Cadastrar</span></li>
                                    <a href="/usuarios/cadastro-organizador"><i class="si si-note"></i>Organizador</a>
                                    <a href="/usuarios/cadastro-empresa"><i class="si si-note"></i>Empresa</a>
                                    <a href="/usuarios/cadastro-caravaneiro"><i class="si si-note"></i>Caravaneiro</a>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Perfis</span></li>
                                    <a href="/usuarios/todos-organizadores"><i class="fa fa-black-tie"></i>Organizador</a>
                                    <a href="/usuarios/todas-empresas"><i class="fa fa-building-o"></i>Empresa</a>
                                    <a href="/usuarios/todos-caravaneiros"><i class="fa fa-bus"></i>Caravaneiro</a>
                                
                                
                                
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Gerais</span></li>
                                <li>
                                    <a href="/informes/criar-informe"><i class="fa fa-newspaper-o"></i>Criar informes</a>
                                </li>
                                <li>
                                        <a href="/informes/lista-informes"><i class="fa fa-edit"></i>Visualizar e editar informes</a>
                                </li>
                                <li>
                                    <a href="/pedidos/criar-pedidos"><i class="fa fa-reorder"></i>Criar tipo de pedido</a>
                                </li>
                                <li>
                                    <a href="/pedidos/tipos-de-pedidos"><i class="fa fa-reorder"></i>Tipos de pedidos</a>
                                </li>
                                <li>
                                        <a href="/definir_feed"><i class="fa fa-calendar-plus-o"></i>Definir data de feedback</a>
                                </li>
                                <li>
                                        <a href="/criar-link"><i class="fa fa-calendar-plus-o"></i>Definir links de feedback</a>
                                </li>
                                <li>
                                        <a href="/lista-feedback-admin"><i class="fa fa-edit"></i>Visualizar e editar links de feedback</a>
                                </li>
                                <li>
                                        <a href="/valores-sistema"><i class="fa fa-cog"></i>Valores de sistema</a>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Massagem</span></li>
                                <li>
                                        <a href="/pedidos/definir-horarios"><i class="fa fa-calendar-plus-o"></i>Definir horários de massagem</a>
                                </li>
                                <li>
                                    <a href="/pedidos/agendamentos"><i class="fa fa-calendar-plus-o"></i><span class="sidebar-mini-hide">Agendamentos</span></a>
                                </li>
                                <li>
                                    <a href="/pedidos/agendar-massagem"><i class="fa fa-calendar-plus-o"></i><span class="sidebar-mini-hide">Definir horários indisponíveis</span></a>
                                </li>
                                
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Futuras edições</span></li>
                                <li>
                                        <a href="/seleção-wi"><i class="si si-user"></i>Seleção WI</a>
                                </li>
                                <li>
                                <p></p>
                                </li>
                                <li>
                                <p></p>
                                </li>
                                <li>
                                <p></p>
                                <p></p>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                
            </nav>
            

            
            <header id="header-navbar" class="content-mini content-mini-full">
                
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="/static/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Perfil</li>
                                <li>
                                    <a tabindex="-1" href="/usuarios/perfil-gerente">
                                        <i class="si si-user pull-right"></i>
                                        {% comment %} <span class="badge badge-success pull-right">1</span> {% endcomment %}
                                        Meu Perfil
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Ações</li>
                                <li>
                                    <a tabindex="-1" href="/usuarios/logout">
                                        <i class="si si-logout pull-right"></i>Deslogar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        
                    </li>
                </ul>
                

                
                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </li>
                    <li class="visible-xs">
                        
                        <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>

            </header>



            {% block conteudo %}
            {% endblock %}



            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
                <div class="pull-right">
                    Criado com <i class="fa fa-heart text-city"></i> pelo <a class="font-w600" href="http://www.polijunior.com.br" target="_blank">NTec - Poli Júnior</a>
                </div>
                <div class="pull-left">
                    
                </div>
            </footer>

        </div>

        <div class="modal fade" id="apps-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <div class="block block-themed block-transparent">
                        <div class="block-header bg-primary-dark">
                            <ul class="block-options">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Apps</h3>
                        </div>
                        <div class="block-content">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="block block-rounded" href="/usuarios/admin">
                                        <div class="block-content text-white bg-default">
                                            <i class="si si-speedometer fa-2x"></i>
                                            <div class="font-w600 push-15-t push-15">Backend</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="block block-rounded" href="frontend_home.html">
                                        <div class="block-content text-white bg-modern">
                                            <i class="si si-rocket fa-2x"></i>
                                            <div class="font-w600 push-15-t push-15">Frontend</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="/static/js/core/jquery.min.js"></script>
        <script src="/static/js/core/bootstrap.min.js"></script>
        <script src="/static/js/core/jquery.slimscroll.min.js"></script>
        <script src="/static/js/core/jquery.scrollLock.min.js"></script>
        <script src="/static/js/core/jquery.appear.min.js"></script>
        <script src="/static/js/core/jquery.countTo.min.js"></script>
        <script src="/static/js/core/jquery.placeholder.min.js"></script>
        <script src="/static/js/core/js.cookie.min.js"></script>
        <script src="/static/js/app.js"></script>


        <script src="/static/js/plugins/slick/slick.min.js"></script>
        <script src="/static/js/plugins/chartjs/Chart.min.js"></script>
        <script src="/static/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="/static/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>  


        <script src="/static/js/pages/base_pages_dashboard.js"></script>
        <script>
            jQuery(function () {
                App.initHelpers('slick');
            });
        </script>
    </body>
</html>