{% extends "base_menus_admin.html" %}
{% block nomePagina %}Seleção WI{% endblock%}
{% comment %} {%block descricao%} {%endblock%}
{% block subnomePagina %}{% endblock%} {% endcomment %}
{% load static %}


{% block conteudo %}
<main id="main-container">
    
        <div class="bg">
            <p class="text-center" style="font-size: 3.5rem; color: black">
                Página indisponível.
            </p>
            <p class="text-center" style="font-size: 2rem; color: black">
                Vá para outra página.
            </p>
        </div>
    
</main>
{% endblock %}

<style>
main {
    background-image: url('/static/img/various/logo_wi.png');
    background-position: center
}
</style>