{% extends "base_menus_admin.html" %}
{% block nomePagina %}Seleção WI{% endblock%}
{% comment %} {%block descricao%} {%endblock%}
{% block subnomePagina %}{% endblock%} {% endcomment %}
{% load static %}


{% block conteudo %}
<main id="main-container">
    
        <div class="bg text-center">
            <p class="text-center" style="font-size: 3.5rem; color: black; margin-top: 10%">
                Página indisponível.
            </p>
            <img src='/static/img/various/logo_wi.png' width="200" height="200" style="opacity: 0.7; ">
            <p class="text-center" style="font-size: 2rem; color: black; margin-top: 1%">
                Por favor, dirija-se para outra página.
            </p>
        </div>
    
</main>
{% endblock %}
