{% extends 'base_menus_admin.html' %}
{% block nomePagina %}Criar informe{% endblock%}
{% block conteudo %}
                                     <main id="main-container">
                                        <!-- Register Forms -->
                                        <h2 class="content-heading "></h2>
                                        <div class="col-lg-4">

                                        </div>
                                            <div class="col-lg-4 ">
                                                <!-- Bootstrap Register -->
                                                {% if messages %}
                                                            <ul class="messages">
                                                                {% for message in messages %}
                                                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                {% endif %}
                                                <div class="block block-themed centered ">
                                                    <div class="block-header" style="background-color: #FFAF00">
                                                        <ul class="block-options">
                                                            <li>
                                                                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                                            </li>
                                                        </ul>
                                                        <h3 class="block-title">Criação de informe</h3>
                                                    </div>
                                                    <div class="block-content">
                                                        <table class="table table-striped table-vcenter">
                                                        <form id="forms_pedido" class="form-horizontal push-5-t" action="" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="form-group col-xs-12">
                                                                        <label for="id_nome">Digite o título do informe:</label>
                                                                        <input class="form-control" type="text" id="id_titulo" name="titulo" placeholder="Digite o título (obrigatório)"  maxlength="100" required>
                                                                        {%if form.errors.texto %}
                                                                            <div id="val-username2-error" class="help-block text-left animated fadeInDown">{{form.errors.texto}}</div>
                                                                        {%endif%}
                                                                    </div>

                                                                    <div class="form-group col-xs-12">
                                                                        <label for="id_nome">Digite o texto do informe:</label>
                                                                        <input class="form-control" type="text" id="id_texto" name="texto" placeholder="Digite o texto (obrigatório)" required>
                                                                        {%if form.errors.texto %}
                                                                        <div id="val-username2-error" class="help-block text-left animated fadeInDown">{{form.errors.texto}}</div>
                                                                        {%endif%}
                                                                    </div>
                                                            <div class="col-xs-12">
                                                                <button class="btn btn-sm bg-dark" type="submit"><i class="fa fa-plus push-5-r"></i> Enviar</button>
                                                            </div>

                                                        </DIV>
                                                        </form>
                                                        </div>
                                                    </div>
                                            </div>
                                        </table>
                            <!-- END Bootstrap Register -->
                    <!-- END Register Forms -->
                <!-- END Page Content -->
            </main>
{% endblock %}