{% extends 'base_menus_admin.html' %}
{% block nomePagina %}Lista de Informes{% endblock%}
{% load static %}
{% block conteudo %}
<main id="main-container">
        <div class="block-content">
                
            <div class="block block-themed">
                <div class="block-header bg-primary">
                    <h3 class="block-title">Lista Informes</h3>
                </div>
                <div class="table-responsive">
                <div class="block-content">
                <table class="table table-striped table-vcenter">
                   {%for elemento in lista %}
                        <tr>
                            <td class="font-w600">{{elemento.titulo}}</td>
                            <td class="hidden-xs" >{{elemento.texto}}</td>
                            <td class="text-center">
		                        <div class="btn-group btn-group-xs">
		                            <a href="{% url 'informes:Editar Informe' pk=elemento.pk %}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-pencil"></i></a>                       
		                        </div>
                    		</td>
                            <td class="text-center">
		                        <div class="btn-group btn-group-xs">
		                            <a onclick="Deletar( {{elemento.pk}} )" data-toggle="tooltip" title="Deletar" class="btn btn-default"><i class="fa fa-eraser"></i></a>                       
		                        </div>
                    		</td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
        </div>    

        </main>
        <script type="text/javascript" src="{% static 'js/deletarinforme.js' %}"></script>
{% endblock %}