{% extends 'base_menus_empresa.html' %}
{% block nomePagina %}Enviar Documentos{% endblock%}
{% block conteudo %}
 <main id="main-container">

                    
                    <h2 class="content-heading "></h2>
                    <div class="col-lg-4">

                    </div>
                        <div class="col-lg-4 ">
                            <div class="block block-themed centered ">
                                <div class="block-header " style="background-color: #FFAF00">
                                    <h3 class="block-title">Envio de Documentos</h3>
                                </div>
                                <div class="block-content">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <form id="forms_pedido" class="form-horizontal push-5-t" action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group col-xs-12">
                                                    <label for="id_nome">Dê um nome ao arquivo:</label>
                                                    <input class="form-control" type="text" id="id_nome" name="nome" placeholder="Digite um nome (obrigatório)"  maxlength="100" required>
                                                    {{ form.nome.errors }}
                                                </div>
                                            
                                        <div class="form-group col-xs-12">
                                        
                                                <label for="id_arquivo">Escolha o Documento:</label>
                                                <input type="file" name="arquivo" id="id_arquivo" required>
                                                {{ form.arquivo.errors }}
                                        </div>
                                            <div class="form-group col-xs-12">
                                                    <label for="register4-lastname">Possui alguma observação?</label>
                                                    <input class="form-control" type="text" id="id_observacao" name="observacao" placeholder="Digite sua observação (opcional)" maxlength="200">
                                                    {{ form.observacao.errors}}
                                                </div>
                                            <div class="form-group">
                                            
                                            <div class="col-xs-12">
                                                <button class="btn btn-sm btn-dark" type="submit"><i class="fa fa-plus push-5-r"></i> Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                   

            </main>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}