{% extends 'base_menus_empresa.html' %}
{% block nomePagina %}Ver Nota Fiscal{% endblock%}
{% block conteudo %}
 <main id="main-container">
        <div class="block-content">
            <div class="block block-themed">
                <div class="block-header bg-primary">
                    <h3 class="block-title">{{empresa.nome}}</h3>
                </div>
                <div class="block-content">
                   {%for arquivo in empresa.nota_empresa.all%}
                    <table class="table table-striped table-vcenter">
                        <tr>
                            <td class="font-w600">{{arquivo.nome}}</td>
                            <td class="hidden-xs">{{arquivo.data}}</td>
                            <td class="hidden-xs hidden-sm">
                                <span class="label label-success">Enviado</span>
                            </td>
                            <td class="hidden-xs"> {% if not arquivo.observacao == "" %}Observação: {{arquivo.observacao}}{% endif %}</td>
                            <td class="text-center">
                                <div class="btn-group"  href="media/{{arquivo.arquivo}}">
                                <form method="get" action="/media/{{arquivo.arquivo}}">
 
                                    <button class="btn btn-xs btn-default" type="submit" data-toggle="tooltip" title="Baixar documento"><i class="si si-arrow-down"></i></button>
                                </form>
                                </div>
                            </td>
                        </tr>
                </table>
            {%endfor%}
            </div>
         </div>    
{% endblock %}