{% extends "base_menus_empresa.html" %}
{% block nomePagina %}Dashboard da Empresa{% endblock%}
{% comment %} {%block descricao%} {%endblock%}
{% block subnomePagina %}{% endblock%} {% endcomment %}
{% load static %}


{% block conteudo %}
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-image overflow-hidden" style="background-image: url('/static/img/photos/banner_wi.png');">
        <img class="image-wi-dash animated zoomIn" src="/static/img/various/logo_wi.png">
        <div class="push-50-t push-15">
            <h1 class="h2 text-orange animated zoomIn">Informes</h1>
            <h2 class="h5 text-white-op animated zoomIn">Bem vindo ao Workshop Integrativo, {{request.user.usuario.usuario_empresa.nome}} !</h2>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Stats -->
    <div class="content bg-white border-b">
        <div class="row items-push">
            {% if passou == 1 %}
            <div class="col-xs-9 col-sm-6">
                <div class="font-w700 text-gray-darker animated fadeIn text-uppercase">Não esqueça de deixar o feedback no link a seguir</div>
                <a class="h3 font-w300 text-primary animated flipInX" href="base_comp_charts.html">{{qs.link}}</a>
            </div>
            {% else %}
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn text-uppercase">Nome do WiFi</div>
                <a class="h3 font-w300 text-primary animated flipInX" href="base_comp_charts.html">{{variaveis.nome_wifi}}</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn text-uppercase">Senha do WiFi</div>
                <a class="h3 font-w300 text-primary animated flipInX" href="base_comp_charts.html">{{variaveis.senha_wifi}}</a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- END Stats -->

    <!-- Page Content -->
    <div class="content">
        <div class="row">
            <div class="col-lg-7">
                <!-- Main Dashboard Chart -->
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Mapa do evento</h3>
                    </div>
                    <div class="block-content bg-gray-lighter">
                        {% if variaveis.mapa_wi %}
                        <img  src="{{variaveis.mapa_wi.url}}" class="img-responsive" style="margin-bottom: 5%;">
                        {% else %}
                        <img  src="{% static 'img/various/mapa_wi.png' %}" class="img-responsive" style="margin-bottom: 5%;">
                        {% endif %}
                    </div>
                </div>
                <!-- END Main Dashboard Chart -->
            </div>
            <div class="col-lg-4">
                <!-- Latest Sales Widget -->
                <div class="block">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Ultimas notícias</h3>
                    </div>
                    <div class="block-content">
                        <div class="pull-t pull-r-l">
                            <!-- Slick slider (.js-slider class is initialized in App() -> uiHelperSlick()) -->
                            <!-- For more info and examples you can check out http://kenwheeler.github.io/slick/ -->
                            <div class="js-slider remove-margin-b" data-slider-autoplay="true" data-slider-autoplay-speed="2500">
                                <div>
                                            {%for informe in informes %}
                                            <a class="block block-link-hover1" href="javascript:void(0)">
                                                <div class="block-content block-content-full clearfix">
                                                    <div class="h6 font-w700">{{informe.titulo}}</div>
                                                    <span class="h7 text-muted ">{{informe.texto}}</span>
                                                </div>
                                            </a>
                                            {%endfor%}


                                    
                                    {% comment %} <div class="pagination">
                                        <span class="step-links">
                                            {% if informes.has_previous %}
                                                <a href="?page=1">&laquo; Mais recentes &raquo;</a>
                                                <a href="?page={{ informes.previous_page_number }}">   &laquo; Anterior &raquo;</a>
                                            {% endif %}
                                    
                                            <span class="current">
                                                Página {{ informes.number }} de {{ informes.paginator.num_pages }}.
                                            </span>
                                    
                                            {% if informes.has_next %}
                                                <a href="?page={{ informes.next_page_number }}">&laquo; Próximo &raquo;</a>
                                                <a href="?page={{ informes.paginator.num_pages }}">   &laquo; Último &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <!-- END Slick slider -->
                        </div>
                    </div>
                </div>
                <!-- END Latest Sales Widget -->
            </div>
        </div>

    </div>
    <!-- END Page Content -->
</main>
<script src="{% static 'js/mostrarmapa.js' %}"></script>
<link rel="stylesheet" href="assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">

{% endblock %}