{% extends "base_menus_admin.html" %}
{% block nomePagina %}Dashboard do Administrador{% endblock%}
{% comment %} {%block descricao%} {%endblock%}
{% block subnomePagina %}{% endblock%} {% endcomment %}


{% block conteudo %}
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-image overflow-hidden" style="background-image: url('/static/img/photos/banner_wi.png');">
        <img class="image-wi-dash animated zoomIn" src="/static/img/various/logo_wi.png">
        <div class="push-50-t push-15">
            <h1 class="h2 text-orange animated zoomIn">Informes</h1>
            <h2 class="h5 text-white-op animated zoomIn">Bem vindo ao Workshop Integrativo, {{request.user.username}}!</h2>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Stats -->
    <div class="content bg-white border-b">
        <div class="row items-push">
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn text-uppercase">Nome do WiFi</div>
                <a class="h3 font-w300 text-primary animated flipInX" href="base_comp_charts.html">{{variaveis.nome_wifi}}</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn text-uppercase">Senha do WiFi</div>
                <a class="h3 font-w300 text-primary animated flipInX" href="base_comp_charts.html">{{variaveis.senha_wifi}}</a>
            </div>
        </div>
    </div>
    <!-- END Stats -->

    <!-- Page Content -->
    <div class="content">
    </div>
    <!-- END Page Content -->
</main>
{% endblock %}