<!DOCTYPE html>
{% load static %}
<html>
<head>
</head>
<body>
	<header style="background-color: black; padding: 10px;">
		<img src="http://sistemawi.polijunior.com.br/static/img/favicons/favicon.png">
	</header>
	<main>
		<h1>Sua conta para o evento Workshop Integrativo foi criada!</h1>
		<p style="font-weight: bold;">Abaixo estão o seu Username e Senha para o evento do Workshop Integrativo, acesse o site <a href="http://sistemawi.polijunior.com.br">aqui!</a></p>
		<p>Username: {{username}}</p>
		<p>Senha: {{senha}}</p>
	</main>
</body>
</html>
