{% extends 'base_menus_admin.html' %}
{% block nomePagina %}Gestão Organizadores{% endblock%}
{% load static %}
{% block conteudo %}
<main id="main-container">
    <h2 class="content-heading"></h2>
    <div class="col-lg-12">
        <div class="block-header" style="background-color: #FFAF00">
            <h3 class="block-title" style="color: #FFFFFF">Organizadores do sistema  </h3>
        </div>
    </div>
    <div class="block-content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <table class="table table-borderless table-striped table-vcenter">
            <thead>
                <tr>
                    <th class="hidden-xs text-center">Nome do organizador</th>
                    <th class="hidden-xs text-center">Editar</th>
                    <th class="hidden-xs text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for i in organizadores %}
                <tr>
                    <td class="text-center">{{i.nome}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="{% url 'usuarios:Editar Organizador' pk=i.pk%}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="{% url 'usuarios:Deletar Organizador' pk=i.pk%}" data-toggle="tooltip" title="Excluir" class="btn btn-default"><i class="fa fa-eraser"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'usuarios:Deletar Organizadores' %}"><button class="btn btn-group pull-right btn-sm" style="background-color: red; color: #FFFFFF;" type="button" data-toggle="tooltip" title="Apagar todos"><i class="fa fa-times"></i> Deletar todos</button></a>
    </div>
</main>
<script type="text/javascript" src="{% static 'js/DeletarUsuarios.js' %}"></script>
{% endblock %}