{% extends 'base_menus_admin.html' %}
{% block nomePagina %}Gestão Caravaneiros{% endblock%}
{% load static %}
{% block conteudo %}
<main id="main-container">
    <h2 class="content-heading"></h2>
    <div class="col-lg-12">
        <div class="block-header" style="background-color: #FFAF00">
            <h3 class="block-title" style="color: #FFFFFF">
            Caravaneiros do Sistema
            </h3>
        </div>
    </div>

    <div class="block-content">
        <table class="table table-borderless table-striped table-vcenter">
            <thead>
                <tr>
                    <th class="hidden-xs text-center">Nome do caravaneiro</th>
                    <th class="hidden-xs text-center">Editar</th>
                    <th class="hidden-xs text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for i in caravaneiro %}
                <tr>
                    <td class="text-center">{{i.nome}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="{% url 'usuarios:Editar Caravaneiro' pk=i.pk %}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-pencil"></i></a>                       
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a onclick="DeletarCaravaneiro( {{i.pk}} )" data-toggle="tooltip" title="Excluir" class="btn btn-default"><i class="fa fa-eraser"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</main>
<script type="text/javascript" src="{% static 'js/DeletarUsuarios.js' %}"></script>
{% endblock %}